.text-shadow {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

body{
    background-color:whitesmoke;
    
}

/*------------------------------------------------navbar*/
nav ul li a {
    font-size: 1.2rem;
}