@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    font-family: "Roboto Slab", sans-serif;
    font-size: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

body{
    background-color:#64ffda;
}

/*------------------------------------------------navbar*/
nav ul li a {
    font-size: 1.2rem;
}

/*------------------------------------------------footer*/
.page-footer {
    padding-top: 0px !important;
}

.page-footer .row {
    margin-bottom: 0px !important;
}
.page-footer li {
    display: inline;
    margin: 0.938rem;
}

.page-footer li a i {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.56rem;
    color: #fff;
    text-align: center;
}